---
import RootLayout from "../layouts/RootLayout.astro";

import Hero from "../components/home/Hero.astro";
import Features from "../components/home/Features.astro";

// import Prism from "../components/Prism.astro";
---

<RootLayout withPrism={true}>
  <Hero />
  <Features />

  <section class="container mx-auto px-4">
    <h3></h3>
  </section>

  <div class="h-screen"></div>
</RootLayout>
