---
import RootLayout from "../layouts/RootLayout.astro";
import { Image } from "astro:assets";
import horse from "../assets/img/horse.png";
import FireIcon from "../assets/icons/FireIcon.astro";
import DocumentIcon from "../assets/icons/DocumentIcon.astro";
import CodeIcon from "../assets/icons/CodeIcon.astro";
import BookIcon from "../assets/icons/BookIcon.astro";
import ServerIcon from "../assets/icons/ServerIcon.astro";

const features = [
  {
    Icon: FireIcon,
    title: "Blazing Fast",
    description:
      "htmx is super fast because it doesn't do much at all, it just looks for HTML attributes and does what they say.",
  },
  {
    Icon: DocumentIcon,
    title: "Super Small",
    description:
      "htmx is just 14k minified and gzipped, almost 67% smaller than React.",
  },
  {
    Icon: CodeIcon,
    title: "Easy to Setup",
    description:
      "htmx is just a single script tag, put it in your html and you're done. No build step, no npm, no webpack, no babel, no nothing.",
  },
  {
    Icon: BookIcon,
    title: "Easy to Learn",
    description:
      "htmx is just HTML attributes, so you already know how to use it. No new syntax to learn, no new language to learn, no new anything to learn.",
  },
  {
    Icon: ServerIcon,
    title: "Backend Agnostic",
    description:
      "htmx works with any backend, because it's just HTML. If your server can serve HTML, it can work with htmx.",
  },
];
---

<RootLayout>
  <main
    class="relative flex h-[80vh] flex-col items-center justify-center gap-4 md:flex-row"
  >
    <div class="absolute -z-10 -translate-y-1/2 overflow-hidden rounded-3xl">
      <Image src={horse} alt="A laser horse eating fries" height={300} />
      <span class="absolute inset-0 block h-full w-full bg-slate-950/60"></span>
    </div>
    <div class="px-4 text-center">
      <h1 class="text-4xl font-black">HATEOAS / HTMX (Same thing)</h1>
      <p class="mx-auto mt-3 max-w-[40ch] gap-2 text-xl text-gray-100">
        The future of web is the past of web. We're going back to the future :)
        Just add the script tag and you're done.
      </p>
      <code
        class="max-w-screen mx-auto mt-4 flex max-w-[calc(100vw_-_40px)] items-center overflow-x-auto rounded-lg bg-black px-4 py-2 text-lg md:mx-0 md:justify-center"
      >
        <span>{"<"}</span>
        <span class="text-blue-500">script</span>
        <span class="ml-2 text-yellow-500">src=</span>
        <span class="text-green-500">'https://unpkg.com/htmx.org@1.9.10'</span>
        <span>{">"}</span>
        <span>{"</"}</span>
        <span class="text-blue-500">script</span>
        <span>{">"}</span>
      </code>
      <a
        class="group mx-auto mt-4 block max-w-max rounded-lg bg-gradient-to-r from-blue-800 to-indigo-900 p-0.5"
        href="/get-started"
      >
        <span
          class="block h-full w-full rounded-lg bg-slate-950 px-8 py-3 transition-colors group-hover:bg-slate-900"
          >Get Started</span
        >
      </a>
    </div>
  </main>

  <section
    class="container mx-auto grid gap-2 px-4 md:grid-cols-2 lg:grid-cols-3"
  >
    <div class="flex h-[275px] max-w-sm flex-col rounded-lg p-6">
      <h3 class="text-3xl font-bold">Distinct <br /> Advantages</h3>
      <p class="mt-4 text-lg text-gray-400">
        here's a list of things that are good about htmx
      </p>

      <a href="/get-started" class="mt-auto text-blue-500 underline">
        Get Started
      </a>
    </div>

    {
      features.map(({ Icon, title, description }) => (
        <div class="flex h-[275px] w-full flex-col rounded-lg bg-slate-900 p-6">
          <Icon />
          <strong class="mt-6 text-xl">{title}</strong>
          <p class="text-lg text-gray-400">{description}</p>
        </div>
      ))
    }
  </section>
  <div class="h-screen"></div>

  <style>
    .bounce {
      animation: bounce 1s infinite alternate ease-in-out;
    }

    @keyframes bounce {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(110%);
      }
    }
  </style>
</RootLayout>
