---
import { Image } from "astro:assets";
import horse from "../../assets/img/horse.png";
---

<main
  class="container relative mx-auto flex min-h-[60vh] items-center justify-between px-4"
>
  <div>
    <h1 class="text-5xl font-black leading-[1.25] md:text-6xl lg:text-7xl">
      Let's put the
      <span
        class="bg-gradient-to-r from-blue-400 to-indigo-500 bg-clip-text text-transparent"
      >
        hyper
      </span>
      <br />
      back into
      <span
        class="bg-gradient-to-r from-blue-400 to-indigo-500 bg-clip-text text-transparent"
      >
        hypermedia!
      </span>
    </h1>
    <span
      class="overflow-none mt-8 block max-w-max rounded-lg bg-gradient-to-r from-blue-700 to-indigo-500 p-0.5"
    >
      <a
        href="/docs"
        class="block rounded-lg bg-slate-950 px-4 py-2 transition-colors hover:bg-slate-950/80 focus:bg-slate-950/80"
      >
        Read the docs
      </a>
    </span>
  </div>

  <div
    class:list={[
      "absolute -z-10 from-slate-950 to-transparent md:relative ",
      "after:absolute after:inset-0 after:z-50 after:block after:[content:'']",
      "after:bg-slate-950/70 md:after:bg-transparent md:after:bg-gradient-to-r",
    ]}
  >
    <Image src={horse} alt="HATEOAS baby!" height={500} />
  </div>
</main>
