---
import { Image } from "astro:assets";
import horse from "../../assets/img/horse.png";
---

<main
  class="relative flex h-[60vh] flex-col items-center justify-center gap-4 px-4 md:flex-row"
>
  <div
    class="absolute left-1/2 -z-10 -translate-x-1/2 -translate-y-[50%] overflow-hidden rounded-3xl"
  >
    <Image src={horse} alt="A laser horse eating fries" height={300} />
    <span class="absolute inset-0 block h-full w-full bg-slate-950/60"></span>
  </div>
  <div class="mx-auto max-w-full text-center">
    <h1 class="text-4xl font-black">
      Putting <span
        class="bg-gradient-to-r from-blue-400 to-indigo-500 bg-clip-text text-transparent"
        >hyper</span
      > back into
      <span
        class="bg-gradient-to-r from-blue-400 to-indigo-500 bg-clip-text text-transparent"
      >
        hypermedia
      </span>
    </h1>
    <p class="mx-auto mt-3 max-w-[40ch] gap-2 text-xl text-gray-100">
      htmx / hateoas (same thing)
    </p>
    <div class="mt-4 flex items-center justify-center gap-4">
      <a
        class="group max-w-max rounded-lg bg-gradient-to-r from-blue-800 to-indigo-900 p-0.5"
        href="/get-started"
      >
        <span
          class="block h-full w-full rounded-lg bg-slate-950 px-8 py-3 transition-colors group-hover:bg-slate-900"
          >Get Started</span
        >
      </a>
      <!-- a simpler button that doesn't use a gradient but redirects to the docs -->
      <a class="max-w-max rounded-lg bg-slate-950 p-0.5" href="/docs">
        Read the Docs
      </a>
    </div>
  </div>
</main>
