---
import CopyIcon from "../assets/icons/CopyIcon.astro";
import PlayIcon from "../assets/icons/PlayIcon.astro";

interface Props {
  language: string;
  code: string;
  file?: string;
  class?: string;
  playground?: boolean;
}

const {
  language,
  file,
  code,
  class: className,
  playground,
}: Props = Astro.props;
---

<div
  class:list={[
    "group relative block overflow-y-hidden rounded-lg border border-gray-700 bg-gray-950",
    className,
  ]}
  data-code
>
  {
    file && (
      <div class="flex w-full items-center justify-between">
        <p class="border-t border-blue-700 bg-slate-900/60 px-8 py-2">{file}</p>
        <button
          data-copy-code
          type="button"
          title="Copy to clipboard"
          class="mr-4 rounded px-3 py-1 transition-colors hover:bg-white/20"
        >
          copy
        </button>
      </div>
    )
  }

  <div
    class="absolute right-2 top-2 z-10 my-auto flex gap-2 opacity-0 transition-opacity group-focus-within:opacity-100 group-hover:opacity-100"
  >
    {
      playground && (
        <button
          type="button"
          title="Open in Playground"
          class="flex gap-2 rounded bg-slate-800 px-3 py-1 transition-colors hover:bg-slate-700"
        >
          <PlayIcon />
          Run
        </button>
      )
    }
    {
      !file && (
        <button
          data-copy-code
          type="button"
          title="Copy to clipboard"
          class="flex gap-2 rounded bg-slate-800 px-3 py-1 transition-colors hover:bg-slate-700"
        >
          <CopyIcon />
          <span class="transition-colors">copy</span>
        </button>
      )
    }
  </div>
  <pre
    class="!my-0 !bg-slate-900/60"><code class={`language-${language}`}>{code.trim()}</code></pre>
</div>

<script>
  function copyToClipboard(text: string) {
    if (navigator.clipboard && window.isSecureContext) {
      return navigator.clipboard.writeText(text);
    } else {
      const textArea = document.createElement("textarea");
      textArea.value = text;
      textArea.style.position = "fixed";
      textArea.style.top = "0";
      textArea.style.left = "0";
      textArea.style.width = "2em";
      textArea.style.height = "2em";
      textArea.style.padding = "0";
      textArea.style.border = "none";
      textArea.style.outline = "none";
      textArea.style.boxShadow = "none";

      document.body.appendChild(textArea);
      textArea.focus();
      textArea.select();

      return new Promise((res, rej) => {
        document.execCommand("copy") ? res(true) : rej();
        textArea.remove();
      });
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    const copyCodeButtons = document.querySelectorAll(
      "[data-copy-code]",
    ) as NodeListOf<HTMLButtonElement>;

    copyCodeButtons.forEach((button) => {
      const textSpan = button.querySelector("span")!;
      button.addEventListener("click", () => {
        const code = button.closest("[data-code]")?.querySelector("code");
        const text = code?.innerText ?? "";

        copyToClipboard(text).then(() => {
          textSpan.innerText = "copied";
          textSpan.classList.add("text-green-500");
          setTimeout(() => {
            textSpan.innerText = "copy";
            textSpan.classList.remove("text-green-500");
          }, 1000);
        });
      });
    });
  });
</script>

<style>
  pre {
    position: relative;
  }
</style>
