---
import Header from "../components/Header.astro";
import prismCSS from "../assets/prism/prism.css?url";
import prismJS from "../assets/prism/prism.js?url";
interface Props {
  title?: string;
  withPrism?: boolean;
}

const { title = "htmx - High powertools for html", withPrism = false } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    {
      withPrism && (
        <>
          <link rel="stylesheet" href={prismCSS} />
        </>
      )
    }</head
  >
  <body class="bg-slate-950 text-white">
    <Header />
    <slot />
    {withPrism && <script type="module" src={prismJS} />}
  </body>
</html>
